<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="operation-layout (opVersion, activePage)">
    <div class="left-menu">
        <ul>
            <li th:if="${#lists.contains(supportedOps, 'ChangeAvailability')}">
                <a th:href="@{/manager/operations/{v}/ChangeAvailability(v=${opVersion})}" th:class="${activePage == 'ChangeAvailability'} ? 'highlight'">Change Availability</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'ChangeConfiguration')}">
                <a th:href="@{/manager/operations/{v}/ChangeConfiguration(v=${opVersion})}" th:class="${activePage == 'ChangeConfiguration'} ? 'highlight'">Change Configuration</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'ClearCache')}">
                <a th:href="@{/manager/operations/{v}/ClearCache(v=${opVersion})}" th:class="${activePage == 'ClearCache'} ? 'highlight'">Clear Cache</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'DataTransfer')}">
                <a th:href="@{/manager/operations/{v}/DataTransfer(v=${opVersion})}" th:class="${activePage == 'DataTransfer'} ? 'highlight'">Data Transfer</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'GetCompositeSchedule')}">
                <a th:href="@{/manager/operations/{v}/GetCompositeSchedule(v=${opVersion})}" th:class="${activePage == 'GetCompositeSchedule'} ? 'highlight'">Get Composite Schedule</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'GetConfiguration')}">
                <a th:href="@{/manager/operations/{v}/GetConfiguration(v=${opVersion})}" th:class="${activePage == 'GetConfiguration'} ? 'highlight'">Get Configuration</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'GetDiagnostics')}">
                <a th:href="@{/manager/operations/{v}/GetDiagnostics(v=${opVersion})}" th:class="${activePage == 'GetDiagnostics'} ? 'highlight'">Get Diagnostics</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'GetLocalListVersion')}">
                <a th:href="@{/manager/operations/{v}/GetLocalListVersion(v=${opVersion})}" th:class="${activePage == 'GetLocalListVersion'} ? 'highlight'">Get Local List Version</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'RemoteStartTransaction')}">
                <a th:href="@{/manager/operations/{v}/RemoteStartTransaction(v=${opVersion})}" th:class="${activePage == 'RemoteStartTransaction'} ? 'highlight'">Remote Start Transaction</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'RemoteStopTransaction')}">
                <a th:href="@{/manager/operations/{v}/RemoteStopTransaction(v=${opVersion})}" th:class="${activePage == 'RemoteStopTransaction'} ? 'highlight'">Remote Stop Transaction</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'ReserveNow')}">
                <a th:href="@{/manager/operations/{v}/ReserveNow(v=${opVersion})}" th:class="${activePage == 'ReserveNow'} ? 'highlight'">Reserve Now</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'Reset')}">
                <a th:href="@{/manager/operations/{v}/Reset(v=${opVersion})}" th:class="${activePage == 'Reset'} ? 'highlight'">Reset</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'SendLocalList')}">
                <a th:href="@{/manager/operations/{v}/SendLocalList(v=${opVersion})}" th:class="${activePage == 'SendLocalList'} ? 'highlight'">Send Local List</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'SetChargingProfile')}">
                <a th:href="@{/manager/operations/{v}/SetChargingProfile(v=${opVersion})}" th:class="${activePage == 'SetChargingProfile'} ? 'highlight'">Set Charging Profile</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'TriggerMessage')}">
                <a th:href="@{/manager/operations/{v}/TriggerMessage(v=${opVersion})}" th:class="${activePage == 'TriggerMessage'} ? 'highlight'">Trigger Message</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'UnlockConnector')}">
                <a th:href="@{/manager/operations/{v}/UnlockConnector(v=${opVersion})}" th:class="${activePage == 'UnlockConnector'} ? 'highlight'">Unlock Connector</a>
            </li>
            <li th:if="${#lists.contains(supportedOps, 'UpdateFirmware')}">
                <a th:href="@{/manager/operations/{v}/UpdateFirmware(v=${opVersion})}" th:class="${activePage == 'UpdateFirmware'} ? 'highlight'">Update Firmware</a>
            </li>
        </ul>
    </div>
    <div class="op-content">
        <!-- The content of the specific operation page will be inserted here -->
        <th:block th:replace="${pageContent}"></th:block>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.dateTimePicker').datetimepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

</body>
</html>