<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="ocpp-tag-form(isUpdateForm, submitName, submitValue)">
    <table class="userInput">
        <thead><tr><th>OCPP</th><th></th></tr></thead>
        <tbody>
        <tr>
            <td>ID Tag:</td>
            <td>
                <input type="text" th:field="*{idTag}" th:readonly="${isUpdateForm}" />
                <a class="tooltip" href="#"><img th:src="@{/static/images/info.png}" style="vertical-align:middle">
                    <span>This field is set when adding an OCPP Tag, and cannot be changed later</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Parent ID Tag:</td>
            <td>
                <select th:field="*{parentIdTag}">
                    <option th:each="tag : ${idTagList}" th:value="${tag.key}" th:text="${tag.value}"></option>
                </select>
            </td>
        </tr>
        <tr><td>Expiry Date/Time:</td><td><input type="text" th:field="*{expiryDate}" class="dateTimePicker"/></td></tr>
        <tr><td>Max. Active Transaction Count:</td><td><input type="text" th:field="*{maxActiveTransactionCount}" placeholder="if empty, 1 will be assumed"/></td></tr>
        <tr><td colspan="2"><i>
            Set to <b>0</b> to block this tag. Set to a <b>negative</b> value to disable concurrent transaction checks
            (i.e. every transaction<br/>will be allowed). Set to a <b>positive</b> value to control the number of
            active transactions that is allowed.
        </i></td></tr>
        </tbody>
    </table>
    <table class="userInput">
        <thead><tr><th>Misc.</th><th></th></tr></thead>
        <tbody>
        <tr th:if="${isUpdateForm}">
            <td>Active Transaction Count:</td><td th:text="${activeTransactionCount}"></td>
        </tr>
        <tr><td>Additional Note:</td><td><textarea th:field="*{note}"></textarea></td></tr>
        <tr>
            <td></td>
            <td id="add_space">
                <input type="submit" th:name="${submitName}" th:value="${submitValue}"/>
                <input type="submit" name="backToOverview" value="Back to Overview"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
