<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header('Charging Profiles')}"></head>

<body>
<div th:replace="~{fragments/layout :: page-header}"></div>

<div class="content">
    <section><span>Charging Profile Overview</span></section>
    <div id="overview">
        <form th:action="@{/manager/chargingProfiles/query}" method="get" th:object="${params}">
            <table class="userInput">
                <tr>
                    <td>Charging Profile ID (integer):</td>
                    <td><input type="text" th:field="*{chargingProfilePk}"/></td>
                </tr>
                <tr>
                    <td>Stack Level (integer):</td>
                    <td><input type="text" th:field="*{stackLevel}"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td>Profile Purpose:</td>
                    <td>
                        <select th:field="*{profilePurpose}">
                            <option value="">-- Empty --</option>
                            <option th:each="p : ${profilePurposes}" th:value="${p}" th:text="${p.value}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Profile Kind:</td>
                    <td>
                        <select th:field="*{profileKind}">
                            <option value="">-- Empty --</option>
                            <option th:each="p : ${profileKinds}" th:value="${p}" th:text="${p.value}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Recurrency Kind:</td>
                    <td>
                        <select th:field="*{recurrencyKind}">
                            <option value="">-- Empty --</option>
                            <option th:each="r : ${recurrencyKinds}" th:value="${r}" th:text="${r.value}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Valid From:</td>
                    <td><input type="text" th:field="*{validFrom}" class="dateTimePicker"/></td>
                </tr>
                <tr>
                    <td>Valid To:</td>
                    <td><input type="text" th:field="*{validTo}" class="dateTimePicker"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="add_space">
                        <input type="submit" value="Get">
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <table class="res action">
            <thead>
            <tr>
                <th data-sort="string">Charging Profile ID</th>
                <th data-sort="string">Stack Level</th>
                <th data-sort="string">Description</th>
                <th data-sort="string">Profile Purpose</th>
                <th data-sort="string">Profile Kind</th>
                <th data-sort="string">Recurrency Kind</th>
                <th data-sort="date">Valid From</th>
                <th data-sort="date">Valid To</th>
                <th>
                    <form th:action="@{/manager/chargingProfiles/add}" method="get">
                        <input type="submit" class="blueSubmit" value="Add New">
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cp : ${profileList}">
                <td><a th:href="@{/manager/chargingProfiles/details/{pk}(pk=${cp.chargingProfilePk})}" th:text="${cp.chargingProfilePk}"></a></td>
                <td th:text="${cp.stackLevel}"></td>
                <td th:text="${cp.description}"></td>
                <td th:text="${cp.profilePurpose}"></td>
                <td th:text="${cp.profileKind}"></td>
                <td th:text="${cp.recurrencyKind}"></td>
                <td th:data-sort-value="${cp.validFrom?.time}" th:text="${cp.validFrom}"></td>
                <td th:data-sort-value="${cp.validTo?.time}" th:text="${cp.validTo}"></td>
                <td>
                    <form th:action="@{/manager/chargingProfiles/delete/{pk}(pk=${cp.chargingProfilePk})}" method="post">
                        <input type="submit" class="redSubmit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $(".res").stupidtable({
            "date": function (a, b) {
                var aDate = (parseInt(a) || 0);
                var bDate = (parseInt(b) || 0);
                return aDate - bDate;
            }
        });

        table.on("aftertablesort", function (event, data) {
            var th = $(this).find("th");
            th.find(".arrow").remove();
            var dir = $.fn.stupidtable.dir;

            // https://en.wikipedia.org/wiki/Geometric_Shapes
            var arrow = data.direction === dir.ASC ? "&#9650;" : "&#9660;";
            th.eq(data.column).append('<span class="arrow" style="float: right">' + arrow + '</span>');
        });

        $('.dateTimePicker').datetimepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>
