<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header('OCPP Tag Details')}"></head>

<body>
<div th:replace="~{fragments/layout :: page-header}"></div>

<div th:replace="~{fragments/common :: bind-errors('ocppTagForm')}"></div>

<div class="content">
    <div>
        <section><span>OCPP Tag Details</span></section>

        <table class="userInput">
            <thead><tr><th>See Operations</th><th></th></tr></thead>
            <tbody>
            <tr>
                <td>Transactions:</td>
                <td>
                    <a th:href="@{/manager/transactions/query(ocppIdTag=${ocppTagForm.idTag}, type='ACTIVE')}">ACTIVE</a>
                    /
                    <a th:href="@{/manager/transactions/query(ocppIdTag=${ocppTagForm.idTag}, type='ALL')}">ALL</a>
                </td>
            </tr>
            <tr>
                <td>Reservations:</td>
                <td>
                    <a th:href="@{/manager/reservations/query(ocppIdTag=${ocppTagForm.idTag}, periodType='ACTIVE')}">ACTIVE</a>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/manager/ocppTags/update}" th:object="${ocppTagForm}" method="post">
            <input type="hidden" th:field="*{ocppTagPk}" />
            <div th:replace="~{data-man/_ocppTagFragments :: ocpp-tag-form(isUpdateForm=true, submitName='update', submitValue='Update')}"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // from dateTimePicker-future.js
        $('.dateTimePicker').datetimepicker({
            dateFormat: 'yy-mm-dd'
            //, minDateTime: new Date()
        });
    });
</script>

<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>