<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header('Add OCPP Tag')}"></head>

<body>
<div th:replace="~{fragments/layout :: page-header}"></div>

<div th:if="${#fields.hasErrors('batchInsertForm.*')}" class="error" id="batchError">
    Error while trying to add OCPP Tag list:
    <ul>
        <li th:each="err : ${#fields.errors('batchInsertForm.*')}" th:text="${err}"></li>
    </ul>
</div>
<div th:if="${#fields.hasErrors('ocppTagForm.*')}" class="error" id="singleError">
    Error while trying to add an OCPP Tag:
    <ul>
        <li th:each="err : ${#fields.errors('ocppTagForm.*')}" th:text="${err}"></li>
    </ul>
</div>

<div class="content">
    <div>
        <section><span id="batch" style="cursor: pointer">
            Add OCPP Tag List
            <a class="tooltip" href="#"><img th:src="@{/static/images/info.png}" style="vertical-align:middle">
                <span>Insert multiple OCPP Tags at once by entering one ID Tag per line. This operation will leave other fields empty, which can be set later.</span>
            </a>
        </span></section>
        <form th:action="@{/manager/ocppTags/add/batch}" th:object="${batchInsertForm}" method="post" style="display: none">
            <table class="userInput">
                <tr>
                    <td>ID Tags:</td>
                    <td><textarea th:field="*{idList}"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="add_space">
                        <input type="submit" value="Add All">
                    </td>
                </tr>
            </table>
        </form>

        <section><span id="single">Add OCPP Tag</span></section>
        <form th:action="@{/manager/ocppTags/add/single}" th:object="${ocppTagForm}" method="post">
            <div th:replace="~{data-man/_ocppTagFragments :: ocpp-tag-form(isUpdateForm=false, submitName='add', submitValue='Add')}"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // from dateTimePicker-future.js
        $('.dateTimePicker').datetimepicker({
            dateFormat: 'yy-mm-dd'
            //, minDateTime: new Date()
        });

        $("#batch").click(function () {
            $("#batchInsertForm, #ocppTagForm").slideToggle(250);
        });

        // According to the error type show/hide the corresponding view
        if ($("#batchError").length) {
            $("#batchInsertForm").show();
            $("#ocppTagForm").hide();
        }
        if ($("#singleError").length) {
            $("#batchInsertForm").hide();
            $("#ocppTagForm").show();
        }
    });
</script>

<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>