<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header('OCPP ' + ${opVersion} + ' - Reserve Now')}"></head>

<body>
<div th:replace="~{fragments/layout :: page-header}"></div>
<div th:replace="~{fragments/common :: bind-errors('params')}"></div>

<div class="content">
    <div th:replace="~{op-layouts/_operationLayout :: operation-layout(opVersion=${opVersion}, activePage='ReserveNow', pageContent=~{:: .op-content})}">
        <div class="op-content">
            <div th:replace="~{op-forms/_operationFragments :: reserve-now-form}"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $('.dateTimePicker').datetimepicker({
            dateFormat: 'yy-mm-dd'
        });

        $("#chargePointSelectList").change(function() {
            var cp = $(this).find("option:selected").text();
            var url = /*[[@{/manager/ajax/}]]*/ '/manager/ajax/';
            $.getJSON(url + cp + "/connectorIds", function(data) {
                var options = "";
                $.each(data, function() {
                    options += "<option value='" + this + "'>" + this + "</option>";
                });
                var select = $("#connectorId");
                select.prop("disabled", false);
                select.html(options);
            });
        });
    });
    /*]]>*/
</script>

<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>