<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: header('Charging Profile Assignments')}"></head>

<body>
<div th:replace="~{fragments/layout :: page-header}"></div>

<div class="content">
    <div>
        <section><span>Charging Profile Assignments</span></section>

        <form th:action="@{/manager/chargingProfiles/assignments}" method="get" th:object="${params}">
            <table class="userInput">
                <tr>
                    <td>ChargeBox ID:</td>
                    <td>
                        <select th:field="*{chargeBoxId}">
                            <option value="">All</option>
                            <option th:each="cp : ${cpList}" th:value="${cp}" th:text="${cp}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Charging Profile ID:</td>
                    <td>
                        <select th:field="*{chargingProfilePk}">
                            <option value="">All</option>
                            <option th:each="p : ${profileList}" th:value="${p.chargingProfilePk}" th:text="${p.itemDescription}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Charging Profile Description:</td>
                    <td><input type="text" th:field="*{chargingProfileDescription}"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="add_space">
                        <input type="submit" value="Get">
                    </td>
                </tr>
            </table>
        </form>
        <br>

        <table class="res" id="chargingProfileAssignmentTable">
            <thead>
            <tr>
                <th data-sort="string">ChargeBox ID</th>
                <th data-sort="int">Connector ID</th>
                <th data-sort="int">Charging Profile ID</th>
                <th data-sort="string">Charging Profile Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${assignments}">
                <td><a th:href="@{/manager/chargepoints/details/{pk}(pk=${a.chargeBoxPk})}" th:text="${a.chargeBoxId}"></a></td>
                <td th:text="${a.connectorId}"></td>
                <td><a th:href="@{/manager/chargingProfiles/details/{pk}(pk=${a.chargingProfilePk})}" th:text="${a.chargingProfilePk}"></a></td>
                <td th:text="${a.chargingProfileDescription}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $(".res").stupidtable({
            "date": function (a, b) {
                var aDate = (parseInt(a) || 0);
                var bDate = (parseInt(b) || 0);
                return aDate - bDate;
            }
        });

        table.on("aftertablesort", function (event, data) {
            var th = $(this).find("th");
            th.find(".arrow").remove();
            var dir = $.fn.stupidtable.dir;

            // https://en.wikipedia.org/wiki/Geometric_Shapes
            var arrow = data.direction === dir.ASC ? "&#9650;" : "&#9660;";
            th.eq(data.column).append('<span class="arrow" style="float: right">' + arrow + '</span>');
        });
    });
</script>

<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>